{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable">
            <a href="{% url 'login' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% include 'sidebar.html' %}
            <center>
                <div class="content-section col-md-4">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Log In</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-danger" type="submit" onclick="myFunction()">Login</button>
                            <small class="text-muted ml-2">
                                <a href="{% url 'password_reset' %}" style="color:#E61C29;"> Forgot Password? </a>
                            </small>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <p class="message" style="text-align: center; color: #00ABF0;">Not Registered? <a href="{% url 'signup' %}" style="color:#E61C29;">Sign Up</a></p>
                        </small>
                    </div>
                </div>
            </center>
    </div>
</div>
{% endblock %}