<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .mail {
            background: #D3D3D3;
        }
    </style>
</head>
<body>
    <div class="mail">
        <p>Dear Candidate, </p>
        <p>Thanks for yor interest in N.U.E Offshore Resources</p>
        <p>We hereby acknowledge that we have received your application for the role of {{ job.title }}</p>
        <p>Kindly note that only shortlisted applicants will be contacted</p>
        <br>
        <p>Regards,</p>
        <p>N.U.E Offshore resources team</p>
     </div>
</body>
</html>