{% extends 'base.html' %}
{% block title %} Benefits {% endblock %}
{% load static %}

{% block content %}
        <section class="site-section block__18514" id="next-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 mr-auto">
                    <div class="border p-4 rounded">
                        <img style="width: 100%;" src="{% static 'img/logo.svg' %}">
                        <figure class="mb-5"><img src="{% static 'img/5_reasons.png' %}" alt="Free Website Template by Free-Template.co" class="img-fluid rounded"></figure>
                        <h5><span class="active">Job Application Tips</span></h5>
                        <p> <a class="icon-facebook" href="https://www.facebook.com/nueoffshoreresources" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="icon-twitter" href="https://www.twitter.com/nueoffshore" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="icon-linkedin" href="https://ng.linkedin.com/company/nueoffshoreresources" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            <a class="icon-instagram" href="https://www.instagram.com/nueoffshore" target="_blank"> <i class="fab fa-instagram"></i></a>
                        </p>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <h2 class="mb-4">5 GREAT REASONS TO WORK WITH US</h2><br/>
                    <ol>
                      <li>WE ARE ONE OF THE BEST INDIGENOUS BRANDS IN WEST AFRICA <br/>
                          <p>N.U.E Offshore Resources Limited stands proud as one of the key players in the areas of Marine Operations, Vessel Management, Safety Operations and distribution of PPE (Personal Protective Equipment), and Crewing services amongst others.
                          Our reputation has spread beyond the borders on Nigeria, across West Africa and even beyond.</p>
                      </li>
                      <li>WE CAN BOAST OF PREDICTABLE AND MEASURABLE INCREASE IN PROFITS OVER TIME<br/>
                          <p>Our products and services are tailored to suit the specific demands of our clients.
                              This high level of efficiency and reliability has led to a loyalty of our clientele as well as a progressive increase in our annual profits over time since inception.
                              We have been able to measure tangible growth in our business so far, and can boast of our ability to maintain and even surpass these records due to our diligence,
                              resilience and commitment to our work. Thus, we have working models that ensure that our profit margins increase over time.</p>
                      </li>
                        <li>WORK WITH THE BEST TEAM OF ‘HAND PICKED’ VIBRANT YOUNG PROFESSIONALS<br/>
                          <p>We are keen on hiring young professionals with the right skill-sets required for the corporate work-space, making them strive to be the best for themselves and for the company.
                              As a result, we have certain criteria for selection which helps us pick out the best fits for our organization.
                              We select candidates who are diligent, innovative, pro-active, have the capacity for team-work, and can maintain a good work-life balance.
                              We also understand that there is an increasing pool of unemployed graduates in the country, and while we are willing to make our contributions to society by lowering this number in the way we can,
                              we are still very intentional about the candidates we select to be a part of our elite team. Thus, we pick only the best people to work with us, be it at entry level, or at professional level.</p>
                      </li>
                    </ol>
                    <p><a href="https://medium.com/nueoffshore/5-great-reasons-to-work-with-us-34f17c43389c">To continue reading, click here</a></p>
                  </div>
                </div>
              </div>
        </section>
{% endblock %}