{% extends 'base.html' %}
{% block title %}Job Listing{% endblock %}


{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable">
            <a href="{% url 'job-listing' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% include 'sidebar.html' %}
            {% for job in jobs %}
                 <ul class="job-listings mb-5">
                  <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                    <a href="{% url 'job-detail' job.id %}"></a>
                    <div class="job-listing-logo">
                        <img src="{{ job.user.profile.image.url }}" alt="Free Website Template by Free-Template.co" class="img-fluid">
                    </div>

                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                      <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                        <h4>{{ job.title }}</h4>
                      </div>
                      <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                        <i class="fa fa-map-marker-alt"></i>{{ job.location }}
                      </div>
                      <div class="job-listing-meta">
                          {% if job.type == 'Full time' %}
                            <span class="badge featured-badge badge-success">Full time</span>
                                 {% elif job.type == 'Part time' %}
                            <span class="badge featured-badge badge-primary">Part time</span>
                              {% elif job.type == 'Internship' %}
                            <span class="badge featured-badge badge-warning">Internship</span>
                              {% else %}
                            <span style="color: #ffffff;" class="badge featured-badge badge-warning">Contract</span>
                          {% endif %}
                      </div>
                    </div>

                  </li>
                </ul>
            {% endfor %}

        <!--Pagination-->
            {% if is_paginated %}

                {% if page_obj.has_previous %}
                    <a class="btn btn-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}


                 {% if page_obj.has_next %}
                    <a class="btn btn-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                 {% endif %}

            {% endif %}
    </div>
</div>
{% endblock content %}