{% extends 'base.html' %}
{% block title %}Create Job{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
{% include 'sidebar.html' %}

            {% if in_group %}
            <!--some code here shows up if user belong to group-->
            <section class="bg-light-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <h3 class="heading" style=" text-align: center; ">Add a new position</h3>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <a href="{% url 'employer-jobs-create' %}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>{{ field.name }} {{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            <form id="job-main-form" method="POST" action="" class="job-add-form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4>Job details</h4>
                                        <p class="text-muted text-small">Some additional info for this screen about the job role</p>
                                        <hr>
                                    </div>
                                </div>
                                {{ form.media }}
                                {{ form|crispy }}
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <hr>
                                        <button type="submit" class="btn btn-success"><i class="fa fa-magic"></i>
                                            Save and publish
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}

    </div>
</div>
{% endblock content %}