{% extends 'base.html' %}
{% block title %}Job Application Tips{% endblock %}
{% load static %}

{% block content %}
        <section class="site-section block__18514" id="next-section">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 mr-auto">
                    <div class="border p-4 rounded">
                        <img style="width: 100%;" src="{% static 'img/logo.svg' %}">
                        <h5><span class="active">Job Application Tips</span></h5>
                        <p> <a class="icon-facebook" href="https://www.facebook.com/nueoffshoreresources" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="icon-twitter" href="https://www.twitter.com/nueoffshore" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="icon-linkedin" href="https://ng.linkedin.com/company/nueoffshoreresources" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            <a class="icon-instagram" href="https://www.instagram.com/nueoffshore" target="_blank"> <i class="fab fa-instagram"></i></a>
                        </p>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <span class="text-primary d-block mb-5"><span class="icon-magnet display-1"></span></span>
                    <h2 class="mb-4">TIPS FOR AIDING YOUR JOB APPLICATION WITH US.</h2>
                    <p>Are you a job seeker, who’s curious about whether you’d make a great addition to our team? Kindly visit our careers page to see if there are any vacancies available.</p>
                    <p>As we continue to grow in size and level up our products and services, expanding our team is inevitable. Hence, we are always looking for brilliant minds and capable hands to help us deliver optimum results on all our projects.</p>
                    <p>We also place high priority on structure and organization and so, in the event that you do find any vacancies available, we believe it’s important that you understand our general requirements for intending job applicants and follow the guidelines highlighted below;</p>
                      <br/>
                    <h3>GENERAL REQUIREMENTS</h3>
                    <p>All intending applicants must;</p>
                    <ol>
                      <li>Possess exceptional verbal and written communication skills</li>
                      <li>Be able to think critically and proffer creative solutions to challenges</li>
                      <li>Be rounding up, or must have completed the National Youth Service Corps (NYSC) scheme</li>
                      <li>Be under 30 years. However, this condition is largely subject to the nature of the role available and the number of years of experience required</li>
                      <li>Be conversant with Microsoft Office Suite</li>
                      <li>Have graduated from the higher institution with a minimum of Second Class Honors: Upper Division</li>
                    </ol>
                      <br/>
                     <h3>BEFORE YOU APPLY;</h3>
                      <ol>
                          <li>Carefully consider the roles available before applying, and go through the requirements specified for the one(s) you’re interested in.</li>
                          <li>Ensure that your CV alongside other documents are up to date. Make sure they are typed in English, and free of grammatical or punctuation errors.</li>
                          <li>You are expected to fill in your information CORRECTLY and HONESTLY. We place high priority on integrity as one of our core values, and have zero tolerance for dishonest individuals. Do not fill in false information due to desperation. Stay true to yourself</li>
                     </ol>
                    <p><a href="https://medium.com/nueoffshore/tips-for-aiding-your-job-application-with-us-f09ea6353af6">To continue reading, click here</a></p>
                  </div>
                </div>
              </div>
        </section>


    </div>
</div>
{% endblock %}