<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .mail {
            background: #D3D3D3;
        }

        button {
          background-color: #008CBA; /* Blue */
          border: none;
          color: white;
          padding: 5px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }

        button:hover, a:hover {
          opacity: 0.7;
        }
    </style>
</head>
<body>
    <div class="mail">
        <p>A new job position has just been posted on the N.U.E Offshore Resources Careers portal</p>
        <p>Hurry now and apply.</p>
        <p>Cheers!!</p>
        <p>Visit link below to see latest job positions<p>
        <button><a href="http://127.0.0.1:8000/jobs/job-listing/">nueoffshore.com</a></button>
     </div>
</body>
</html>