{% extends 'base.html' %}
{% load static %}
{% block title %}Search{% endblock %}
{% load bootstrap %}


{% block content %}
{% include 'sidebar.html' %}
             <section class="job-form-section job-form-section--compressed">
                <div class="container">
                    <h4 class="heading">Find a <span class="accent">job </span> you will <span class="accent">love</span></h4>
                    <div class="col-md-6">
                        <form method="get" enctype="multipart/form-data">
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4"><b>Search Job Title</b></legend>
                                {{ filter.form|bootstrap }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-white-primary job-main-form__button" type="submit"><i class="fa fa-search"></i>Filter Candidates</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
             <section>
                <div class="container">
                    <h3 class="heading">We have found <span class="accent">{{ jobs.count }}</span> job{{ jobs.count|pluralize }} on this page</h3>
                    {% for job in object_list %}
                        <ul class="job-listings mb-5">
                          <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                            <a href="{% url 'job-detail' job.id %}"></a>
                            <div class="job-listing-logo">
                                <img src="{{ job.user.profile.image.url }}" alt="Free Website Template by Free-Template.co" class="img-fluid">
                            </div>

                            <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                              <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                <h4>{{ job.title }}</h4>
                              </div>
                              <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                <i class="fa fa-map-marker-alt"></i>{{ job.location }}
                              </div>
                              <div class="job-listing-meta">
                                  {% if job.type == 'Full time' %}
                                    <span class="badge featured-badge badge-success">Full time</span>
                                         {% elif job.type == 'Part time' %}
                                    <span class="badge featured-badge badge-primary">Part time</span>
                                      {% elif job.type == 'Internship' %}
                                    <span class="badge featured-badge badge-warning">Internship</span>
                                      {% else %}
                                    <span style="color: #ffffff;" class="badge featured-badge badge-warning">Contract</span>
                                  {% endif %}
                              </div>
                            </div>

                  </li>
                </ul>
            {% endfor %}

            {% if is_paginated %}

                {% if page_obj.has_previous %}
                    <a style="background: #00ABF0;" class="btn btn-info mb-4" href="?{{ queries.urlencode }}&amp;page=1">First</a>
                    <a style="background: #00ABF0;"  class="btn btn-info mb-4" href="?{{ queries.urlencode }}&amp;page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a style="background: #00ABF0;"  class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a style="background: #00ABF0;"  class="btn btn-info mb-4" href="?{{ queries.urlencode }}&amp;page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}


                 {% if page_obj.has_next %}
                    <a style="background: #00ABF0;"  class="btn btn-info mb-4" href="?{{ queries.urlencode }}&amp;page={{ page_obj.next_page_number }}">Next</a>
                    <a style="background: #00ABF0;"  class="btn btn-info mb-4" href="?{{ queries.urlencode }}&amp;page={{ page_obj.paginator.num_pages }}">Last &laquo;</a>
                 {% endif %}

            {% endif %}

        </div>
            </section>


    </div>
</div>
{% endblock %}